<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API &amp; DB Autotests" parallel="none" thread-count="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="D1">
        <groups>
            <run>
                <include name="d1"/>
            </run>
        </groups>

        <packages>
            <package name="com.company.tests.d1"/>
        </packages>
    </test>

    <test name="D2">
        <groups>
            <run>
                <include name="d2"/>
            </run>
        </groups>

        <packages>
            <package name="com.company.tests.d2"/>
        </packages>
    </test>

    <test name="D3">
        <groups>
            <run>
                <include name="d3"/>
            </run>
        </groups>

        <packages>
            <package name="com.company.tests.d3"/>
        </packages>
    </test>

    <test name="D4">
        <groups>
            <run>
                <include name="d4"/>
            </run>
        </groups>

        <packages>
            <package name="com.company.tests.d4"/>
        </packages>
    </test>

</suite>
