# API
wp.api.url=http://localhost:8000
wp.api.user=Firstname.Lastname
wp.api.pass=123-Asd
wp.api.email=Firstname.Lastname@simbirsoft.com

# DB
db.host=localhost
db.port=3306
db.name=wordpress
db.user=wordpress
db.pass=wordpress

# Yandex Disk
yandex.disk.api.url=https://cloud-api.yandex.net
yandex.disk.auth.token=yourYandexDiskAuthToken
yandex.disk.login=yourYandexDiskLogin
yandex.disk.name=yourYandexDiskDisplayName
